extends layout/main
block content
  main
    section.contact-us
      h1 Contact Us
      .row
        form#contactForm(action="")
          .form-row
            .name
              input.form-name(name='name' type='text', placeholder='First name')
              .valid-feedback Looks Good! 
                i.fas.fa-check-circle
              .invalid-feedback Please do not use numbers or special characters 
                i.fas.fa-exclamation-triangle
            .lastName
              input.form-lastName(name='lastName' type='text', placeholder='Last name')
              .valid-feedback Looks Good! 
                i.fas.fa-check-circle
              .invalid-feedback Please do not use numbers or special characters 
                i.fas.fa-exclamation-triangle
          .form-row
            input.form-email(type='email' name='email' placeholder='email')
            .valid-feedback Looks Good! 
              i.fas.fa-check-circle
            .invalid-feedback Please type a valid e-mail 
              i.fas.fa-exclamation-triangle
          .form-row
            textarea.form-msg(name='text' rows='5' cols='50')
            .valid-feedback Looks Good! 
              i.fas.fa-check-circle
            .invalid-feedback Minimum of 10 characters and a maximum of 50 
              i.fas.fa-exclamation-triangle
          .form-row
            button.send(type='submit') Send
        .map
          iframe(height='450', frameborder='0', style='border:0', 
          src='https://www.google.com/maps/embed/v1/place?key=AIzaSyCXRgu2MyzPEeePrSn6UFPsZm1vdOti8Ow\&q=Space+Needle,Seattle+WA', allowfullscreen='')

