*{
  transition: all .5s ease-in-out;
}

main{
  padding-top: 56px;
  min-height:100%;
}
html, body{
  height: 100%;
}

$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 768px,
  lg: 1024px
);

$container-max-widths: (
  sm: 420px,
  md: 720px,
  lg: 960px
);
