extends layout/main
block content
  main
    section.about
      h1 About Us
      ul
        li Lorem, ipsum.
        li Lorem, ipsum.
        li Lorem, ipsum.
        li Lorem, ipsum.
        li Lorem, ipsum.
        li Lorem, ipsum.
        li Lorem, ipsum.
        li Lorem, ipsum.
        li Lorem, ipsum.
        li Lorem, ipsum.
        li Lorem, ipsum.
        li Lorem, ipsum.