<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title 729 solutions
    link(rel='shortcut icon', href='http://729solutions.com/assets/icons/favicon-ef0d9c37b3c46dc61c5d6c214fab63b5028ac98b97da41dad962d538bfe88c69.ico', type='image/x-icon')
    link(rel="stylesheet", href="./css/main.css")
  body
    section.navbar
      a(href='index.html')
        img(src='http://729solutions.com/assets/729_Grayscale@2x-31d30eb48cc51f3dde78798b30a15f76ff0b48b5ef4ad6e3c6bc7a597c84637e.png')
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
        span
      nav#navbarNav
        ul
          li
            a(href='index.html') Home 
          li
            a(href='about.html') About
          li
            a(href='contact.html') Contact
    block content


    footer.footer
      p RhuanSantos© Copyright 2018 | All rights reserved.
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
    script(defer='', src='https://use.fontawesome.com/releases/v5.0.4/js/all.js')
    script(src='./js/build/main.js')
